#access {
  background-color: #eee;
}

#access .wrap {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.map {
  width: 30vw;
  height: 300px;
  border: none;
}

.address {
  width: 30vw;
  height: 200px;
}
