/* -------------------------- */
/*        共通のスタイル       */
/* -------------------------- */

body, h1, h2, p {
  margin: 0%;
}

a {
  color: #555;
  text-decoration: none;
}

#news, #pick_up, #interview, #access, #contact {
  padding: 100px 0;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.wrap {
  margin: 0 10vw;
}

ul {
  list-style: none;
}

li:first-child {
  margin: 0;
}
