.pick_up-card {
  background-color: #eee;
  width: 300px;
  text-align: center;
  padding: 20px 35px 50px;
}

.latte {
  background-image: url(../img/loyal-latte.jpg);
}
.blend {
  background-image: url(../img/special_blend.jpg);
}
.frappuccino {
  background-image: url(../img/mix-frappuccino.jpg);
}

.pick_up-img {
  height: 200px;
  background-size: cover;
}

#pick_up .wrap {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

.pick_up-card h3 {
  font-size: 18px;
  margin: 20px 0;
}
